// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-keymap-display-package {
  overflow: auto;

  .content {
    text-align: center;
    margin: 0 10px;

    .main-heading {
      padding: 0.5em;
    }

    .group-buttons {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          display: inline-block;
          padding: 10px;
          margin: 10px;
          cursor: pointer;
          background-color: white;
          color: black;
          border: 1px solid black;
        }

        li.selected {
          background-color: rgb(185, 36, 36);
          color: white;
        }
      }
    }

    ul {
      display: table;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: table-row;

        span {
          display: table-cell;
          border-right: 1px solid black;
          border-bottom: 1px solid black;
          padding: 0.5em;
        }

        span:first-child {
          border-left: 1px solid black;
        }
      }

      li:first-child {
        span {
          border-top: 1px solid black;
        }
      }
    }
  }
}
