// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";


atom-panel.modal {
  max-width: none !important;
}

.atom-keymap-display-package {
  overflow: auto;
  font-size: 14px;

  .content {
    text-align: center;
    margin: 0 10px;

    .main-heading {
      padding: 0.5em;
    }

    .group-buttons {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          display: inline-block;
          padding: 10px;
          margin: 10px;
          cursor: pointer;
          background-color: white;
          color: black;
          border: 1px solid black;
        }

        li.selected {
          background-color: rgb(185, 36, 36);
          color: white;
        }
      }
    }

    .keymap-list li {
      display: inline-block;
      width: 25%;

      div {
        display: table;
        width: 100%;
      }

      span {
        display: table-cell;
      }

      // command
      span:first-child {
        border-right: none;
      }

      // keyboard shortcut for command
      span:last-child {
        border-left: none;
        width: 30%;
      }
    }

    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: inline-block;

        span {
          display: inline-block;
          border: 1px solid black;
          padding: 0.2em;
        }
      }
    }
  }
}
